* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.cards-container {
  margin: 6rem;

  column-count: 4;
  column-width: 220px;
  column-gap: 2em;
}

.card {
  padding: 1.6rem;
  margin-block: 2rem;

  border: 1px solid #9ca3af;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(156, 163, 175, 0.5);

  display: grid;
  grid-template-columns: min-content minmax(7rem, 11rem);
  gap: 1.2rem;
  justify-content: space-between;

  color: #9ca3af;

  break-inside: avoid;
}

.card:first-child {
  margin-block-start: 0;
}

.card-title {
  /* font-size: 2.6rem; */
  font-size: 2.2rem;
  margin-block-end: 1.2rem;
}

.card-subtitle {
  /* font-size: 1.4rem; */
  font-size: 1rem;
  letter-spacing: 3px;
}

.card img {
  width: 100%;
  display: block;

  justify-self: end;
}

.card-para {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  grid-column: span 2;
}

.card-price {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.card-btn {
  padding: 0.6rem 0.8rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  justify-self: end;
  width: min-content;
}
